/** Tab Nav **************************/

#tab-nav li a {
    font-size: 16px;
}

#tab-nav>.uk-active>a {
    border-color: #3C91E6 !important;
    border-bottom-width: 3px !important;
    font-weight: 550;
}

#content {
    padding-top: 40px !important;
}


/*** hover delete icon task table *****************/

.delete:hover {
    color: #F25F5C;
}


/** due-date************************/

.due-date {
    font-size: 12px !important;
    padding: 0 10px !important;
}

.due-date .material-icons {
    font-size: 20px !important;
}


/** Project img *********************/

.img-container {
    height: 70px !important;
}

.projectImg {
    height: 170px;
    width: 170px;
    border-radius: 100%;
    position: relative;
    bottom: 120px;
    right: 0;
    left: 0;
}


/** projects background ***************/

.bg_1 {
    background-color: #8EC5FC;
    background-image: url("../../../assets/img/background/bg_1.svg"), linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.bg_2 {
    background-color: #FAACA8;
    background-image: url("../../../assets/img/background/bg_1.svg"), linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

.bg_3 {
    background-color: #FBAB7E;
    background-image: url("../../../assets/img/background/bg_1.svg"), linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.bg_4 {
    background-color: #74EBD5;
    background-image: url("../../../assets/img/background/bg_1.svg"), linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}