<div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
    <div class="uk-width-1-1">
        <app-navbar></app-navbar>
    </div>

    <div id="side-bar" class="uk-width-1-5 uk-visible@xl" style="max-width: 240px !important;">
        <app-sidebar></app-sidebar>
    </div>

    <div id="mobile-side-bar" class="uk-animation-slide-left" uk-offcanvas>
        <div class="uk-offcanvas-bar" style="width: 240px !important;">
            <app-sidebar></app-sidebar>
        </div>
    </div>

    <div class="uk-width-expand" style="min-height: calc(100vh - 70px);">
        <div class="uk-container uk-section">
            <!-- Tab navigation  -->
            <ul id="tab-nav" uk-tab>
                <li class="uk-active">
                    <a routerLink="/projects/{{currentProject?.id}}">Project Details</a>
                </li>
                <li>
                    <a routerLink="/projects/{{currentProject?.id}}/tasks">Project Tasks</a>
                </li>
            </ul>

            <!-- Project Details  -->
            <div id="content">
                <!-- Header  -->
                <div class="uk-clearfix uk-margin-small-bottom">
                    <h2 class="uk-float-left">Project Details</h2>

                    <button *ngIf="currentUserAuh?.role === 'ROLE_ADMIN' || currentUserAuh?.role === 'ROLE_MANAGER'" class="uk-button uk-button-secondary uk-float-right uk-text-bold uk-border-pill" routerLink="/projects/edit/{{currentProject?.id}}">
                        <span class="uk-margin-small-right" uk-icon="pencil"></span> Edit Project
                    </button>
                </div>

                <!-- Card -->
                <div class="uk-card uk-card-default uk-padding border-radius-20" style="padding: 25px 40px;">
                    <!-- Error-->
                    <h3 *ngIf="httpError" class="uk-text-center uk-margin-remove">{{httpError}}</h3>

                    <!-- Loading -->
                    <h3 *ngIf="loading" class="uk-text-center uk-margin-remove">
                        <div uk-spinner="ratio: 1.5"></div>
                    </h3>

                    <!-- Content  -->
                    <div *ngIf="!httpError && currentProject">
                        <div class="img-container uk-flex uk-flex-center" style="margin: 0 !important;">
                            <div class="projectImg bg_{{currentProject.id}}" [class.bg_4]="currentProject.id > 3">
                            </div>
                        </div>
                        <!-- User Name -->
                        <h2 class="uk-text-center" style="margin-top: 0 !important;">
                            {{currentProject.name | titlecase}}</h2>

                        <!-- Due Date -->
                        <button class="uk-button uk-text-bold due-date border-radius-10 uk-flex uk-flex-middle" [class.uk-button-warning]="currentProject.daysLeft > 3 && currentProject.daysLeft <= 6" [class.uk-button-danger]="currentProject.daysLeft <= 3" style="margin: auto;">
                            <span class="material-icons uk-margin-small-right">schedule</span>
                            {{currentProject.daysLeft}} days left
                        </button>

                        <!-- More info  -->
                        <ul class="uk-list uk-list-large uk-list-divider uk-margin-top ">
                            <li></li>

                            <li class="uk-flex uk-flex-middle">
                                <span class="material-icons-outlined text-primary uk-margin-small-right">check_circle</span>
                                <span class="uk-text-bold uk-margin-small-right"> Tasks : </span> {{currentProject.completedTasks }} of {{currentProject.tasks.length}} tasts completed
                            </li>

                            <li class="uk-flex uk-flex-middle">
                                <span class="material-icons text-primary uk-margin-small-right">schedule</span>
                                <span class="uk-text-bold uk-margin-small-right"> Starting date : </span> {{currentProject.startDate | date}}
                            </li>

                            <li class="uk-flex uk-flex-middle">
                                <span class="material-icons text-primary uk-margin-small-right">event_available</span>
                                <span class="uk-text-bold uk-margin-small-right"> Ending date : </span> {{currentProject.endDate | date}}
                            </li>

                            <li class="uk-flex uk-flex-middle">
                                <span class="material-icons text-primary uk-margin-small-right">hourglass_empty</span>
                                <span class="uk-text-bold uk-margin-small-right"> Hourly volume : </span> {{currentProject.hourlyVolume}} hours
                            </li>

                            <li *ngIf="currentProject.description" class="uk-flex uk-flex-middle">
                                <span class="material-icons text-primary uk-margin-small-right">description</span>
                                <span class="uk-text-bold uk-margin-small-right" style="min-width: 96px;">
                                    Description : </span>{{currentProject.description}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>