<div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
    <div class="uk-width-1-1">
        <app-navbar></app-navbar>
    </div>

    <div id="side-bar" class="uk-width-1-5 uk-visible@xl" style="max-width: 240px !important;">
        <app-sidebar></app-sidebar>
    </div>

    <div id="mobile-side-bar" class="uk-animation-slide-left" uk-offcanvas>
        <div class="uk-offcanvas-bar" style="width: 240px !important;">
            <app-sidebar></app-sidebar>
        </div>
    </div>

    <div class="uk-width-expand" style="min-height: calc(100vh - 70px);">
        <div class="uk-container uk-section">
            <!-- Header  -->
            <div class="uk-clearfix uk-margin-small-bottom">
                <h2 class="uk-float-left">Managers <span [hidden]="!totalManagers" class="uk-text-muted">({{totalManagers}})</span></h2>

                <a *ngIf="currentUserAuh?.role === 'ROLE_ADMIN'" (click)="resetState(managerForm)" href="#add-manager" class="uk-button uk-button-primary uk-float-right uk-text-bold uk-border-pill uk-flex uk-flex-middle" uk-toggle>
                    <span class="material-icons uk-text-middle">add</span> Add manager
                </a>
            </div>

            <!-- Body -->
            <div class="uk-card uk-card-default uk-padding border-radius-20" style="padding: 25px;">
                <!-- Error-->
                <h3 *ngIf="httpError" class="uk-text-center uk-margin-remove">{{httpError}}</h3>

                <!-- Loading  -->
                <h3 *ngIf="loading" class="uk-text-center uk-margin-remove">
                    <div uk-spinner="ratio: 1.5"></div>
                </h3>

                <!-- No task  found -->
                <h3 *ngIf="!httpError && managers && managers.length === 0" class="uk-text-center uk-margin-remove">There is no managers in the system ...</h3>

                <!-- Table  -->
                <div class="uk-overflow-auto" *ngIf="!loading && !httpError && managers && managers.length !== 0">
                    <table class="uk-table uk-table-divider uk-text-nowrap table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Photo</th>
                                <th>name</th>
                                <th>More</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="uk-box-shadow-hover-medium fw-550" *ngFor="let manager of managers">
                                <td class="uk-text-middle">{{manager.id}}</td>

                                <td style="cursor: pointer;">
                                    <img src="{{manager.photoURL}}" alt="{{manager.lastName}}Img" class="uk-border-circle uk-preserve-width" width="50" height="50">
                                </td>

                                <td class="uk-text-middle">
                                    {{manager.firstName +' '+ manager.lastName | titlecase}} <br>
                                    <span class="uk-text-muted" style="font-size: .9rem;">{{manager.email}}</span>
                                </td>

                                <!-- More  -->
                                <td>
                                    <a (click)="setEditState(manager)" class="uk-icon-button text-primary" uk-icon="pencil"></a>

                                    <a (click)="deleteManager(manager.id)" class="uk-icon-button uk-margin-small-right text-danger" uk-icon="trash"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Pagination -->
                    <ul *ngIf="pageNumbers" class="uk-pagination uk-flex-center uk-flex-middle" uk-margin>
                        <li>
                            <a (click)="selectPage(currentPage - 1)"><span uk-pagination-previous></span>Previous</a>
                        </li>
                        <li *ngFor="let page of pageNumbers; index as i" [class.page-active]="i == currentPage">
                            <a (click)="selectPage(i)">{{i+1}}</a>
                        </li>
                        <li>
                            <a (click)="selectPage(currentPage + 1)">Next<span uk-pagination-next></span></a>
                        </li>
                        <li>
                            <div class="rows-selector">
                                <div uk-form-custom="target: true">
                                    <input (keyup.enter)="setRowsPerPage(rows)" class="uk-input uk-form-width-small border-radius-left" type="number" min="1" placeholder="Rows per page" #rows>
                                </div>
                                <button (click)="setRowsPerPage(rows)" class="uk-button uk-button-secondary uk-text-bold border-radius-right" style="padding: 0 15px;">show</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Add manager modal -->
            <div id="add-manager" class="uk-flex-top" uk-modal>
                <div class="uk-modal-dialog uk-margin-auto-vertical">
                    <button class="uk-modal-close-default" type="button" uk-close></button>

                    <!-- modal-header -->
                    <div class="uk-modal-header" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
                        <h2 class="uk-modal-title">Add New Manager</h2>
                    </div>

                    <!-- uk-modal-body -->
                    <div class="fw-550 uk-modal-body" style="padding-bottom: 0;">
                        <!-- Form -->
                        <form (ngSubmit)="onSubmitManager(managerForm)" #managerForm="ngForm">
                            <fieldset class="uk-fieldset">
                                <!-- Name field  -->
                                <div class="uk-margin">
                                    <div class="uk-form-controls" uk-grid>
                                        <!-- First Name  -->
                                        <div class="uk-width-1-2@s">
                                            <label class="uk-form-label uk-text-bold" for="form-stacked-text">
                                                First name
                                                <span class="uk-text-danger">*</span>
                                            </label>
                                            <input class="uk-input border-radius-10 uk-margin-small-top" [class.uk-form-danger]="firstName.invalid && firstName.touched" type="text" placeholder="jhon" name="firstName" [(ngModel)]="currentManager.firstName" #firstName="ngModel" required minlength="3">

                                            <!-- Validation errors -->
                                            <div *ngIf="firstName.errors && firstName.touched">
                                                <p [hidden]="!firstName.errors?.required" class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">First name required.</p>
                                                <p [hidden]="!firstName.errors?.minlength" class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">Must be more at least 3 caracters.</p>
                                            </div>
                                        </div>

                                        <!-- Last Name  -->
                                        <div class="uk-width-1-2@s">
                                            <label class="uk-form-label uk-text-bold" for="form-stacked-text">
                                                Last name
                                                <span class="uk-text-danger">*</span>
                                            </label>
                                            <input class="uk-input border-radius-10 uk-margin-small-top" [class.uk-form-danger]="lastName.invalid && lastName.touched" name="lastName" type="text" placeholder="doh" [(ngModel)]="currentManager.lastName" #lastName="ngModel" required minlength="3">

                                            <!-- Validation errors -->
                                            <div *ngIf="lastName.errors && lastName.touched" style="margin-bottom: 0 !important;">
                                                <p [hidden]="!lastName.errors?.required" class="uk-text-danger" style="margin: 6px 0 0 0; font-size: .9rem;">Last Name required.</p>
                                                <p [hidden]="!lastName.errors?.minlength" class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">Must be more at least 3 caracters.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Email field  -->
                                <div class="uk-margin">
                                    <label class="uk-form-label uk-text-bold" for="form-stacked-text">
                                        Email <span class="uk-text-danger">*</span>
                                    </label>

                                    <div class="uk-form-controls uk-margin-small-top">
                                        <input class="uk-input border-radius-10" [class.uk-form-danger]="email.invalid && email.touched" type="text" placeholder="example@gmail.com" name="email" [(ngModel)]="currentManager.email" #email="ngModel" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                                    </div>

                                    <!-- Validation errors -->
                                    <div *ngIf="email.errors && email.touched">
                                        <p [hidden]="!email.errors?.required" class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">Email required.</p>
                                        <p [hidden]="!email.errors?.pattern" class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">Email is not valid.</p>
                                        <p [hidden]="!email.errors?.emailExist" class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">The email address is already in use by another user.
                                        </p>
                                    </div>
                                </div>

                                <!-- Password field  -->
                                <div *ngIf="addState" class="uk-margin">
                                    <label class="uk-form-label uk-text-bold" for="form-stacked-text">
                                        Password <span class="uk-text-danger">*</span>
                                    </label>

                                    <div class="uk-form-controls">
                                        <input class="uk-input border-radius-10" [class.uk-form-danger]="password.invalid && password.touched" type="password" placeholder="******" name="password" [(ngModel)]="currentManager.password" #password="ngModel" required minlength="6">
                                    </div>

                                    <!-- Validation errors -->
                                    <div *ngIf="password.errors && password.touched">
                                        <p [hidden]="!password.errors?.required" class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">Password required.</p>
                                        <p [hidden]="!password.errors?.minlength" class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">Must be more at least 6 caracters.</p>
                                    </div>
                                </div>

                                <!-- Photo field -->
                                <div class="uk-margin">
                                    <label class="uk-form-label uk-text-bold" for="form-stacked-text ">Picture
                                        URL</label>
                                    <input class="uk-input border-radius-10 uk-margin-small-top" [class.uk-form-danger]="photoURL.invalid && photoURL.touched" type="text" placeholder="https://photo.png" name="photoURL" #photoURL="ngModel" [(ngModel)]="currentManager.photoURL">
                                </div>

                                <div class="uk-margin uk-text-center">
                                    <button class="uk-button uk-button-primary uk-width-1-5 uk-text-bold uk-border-pill" [class.uk-button-warning]="!addState" type="submit">
                                        {{addState ? 'add' : 'update'}}
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <!-- uk-modal-footer  -->
                    <div class="uk-modal-footer uk-text-right">
                        <a (click)="resetState(managerForm)" class="uk-button uk-button-secondary uk-text-bold uk-border-pill uk-modal-close">close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>