.avatar {
    height: 50px !important;
    width: 50px !important;
}

.uk-badge {
    min-width: 10px !important;
    height: 10px !important;
    width: 10px !important;
    margin-bottom: 15px;
    border-radius: 10px !important;
}

.pl {
    padding-left: 29px;
    list-style-type: none;
}

.navbar-secondary {
    background-color: #0D1B1E !important;
}

nav {
    min-height: 70px;
}