<nav class="navbar uk-navbar-container navbar-secondary uk-light" uk-navbar>

    <div class="uk-navbar-left">
        <li id="logo" class="pl uk-text-left">
            <a class="logo" routerLink="/projects"> <span class="text-danger">ng</span> charity</a>
        </li>
    </div>

    <div class="uk-navbar-right uk-margin-large-right">

        <ul class="uk-navbar-nav">

            <li class="uk-flex uk-flex-middle">
                <a href="#">
                    <span class="uk-icon" uk-icon="icon: mail; ratio: 1.1" style="margin-right: 5px;"></span>
                    <span class="uk-badge"></span>
                </a>
            </li>

            <li class="uk-flex uk-flex-middle" style="margin-right: 20px;">
                <a href="#">
                    <span class="uk-icon" uk-icon="icon: bell; ratio: 1.1"></span>
                    <span class="uk-badge"></span>
                </a>
            </li>

            <li class="uk-active uk-flex uk-flex-middle">
                <div class="uk-text-right fs-1 cursor-default">
                    Ayoub
                    <br>
                    <span class="uk-text-bottom uk-text-muted" style="font-size: 15px;">Admin</span>
                </div>

            </li>

            <li class="uk-flex uk-flex-middle uk-margin-left ">
                <img src="assets/img/admin.svg" alt="Img " class="avatar uk-border-circle" uk-img>
            </li>
        </ul>
    </div>
</nav>