<nav class="navbar uk-navbar-container navbar-secondary uk-light" uk-navbar>

    <div class="uk-navbar-left">
        <li class="pl">
            <a routerLink="/projects">
                <img src="assets/img/logo.svg" alt="logo">
            </a>
        </li>
        <li class="uk-hidden@l uk-margin-medium-left">
            <a class="uk-icon-button" uk-icon="icon: chevron-right; ratio:2" uk-toggle="target: #mobile-side-bar"></a>
        </li>
    </div>

    <div class="uk-navbar-right uk-margin-large-right">

        <ul class="uk-navbar-nav">

            <li class="uk-flex uk-flex-middle">
                <a href="#">
                    <span class="uk-icon" uk-icon="icon: mail; ratio: 1.1" style="margin-right: 5px;"></span>
                    <span class="uk-badge"></span>
                </a>
            </li>

            <li class="uk-flex uk-flex-middle" style="margin-right: 20px;">
                <a href="#">
                    <span class="uk-icon" uk-icon="icon: bell; ratio: 1.1"></span>
                    <span class="uk-badge"></span>
                </a>
            </li>

            <li class="uk-active uk-flex uk-flex-middle">
                <div class="uk-text-right">
                    <span style="font-size: 19px; font-weight: 500;">Ayoub Zahir</span>
                    <br>
                    <span class="uk-text-muted" style="font-size: 15px;">Admin</span>
                </div>

            </li>

            <li class="uk-flex uk-flex-middle uk-margin-left ">
                <img src="assets/img/admin.svg" alt="Img" class="uk-border-circle" width="55" height="55">
            </li>
        </ul>
    </div>
</nav>