<nav class="navbar uk-navbar-container navbar-secondary uk-light" uk-navbar>

    <div class="uk-navbar-left">
        <li class="pl">
            <a routerLink="/projects">
                <img src="assets/img/logo.svg" alt="logo">
            </a>
        </li>
        <li *ngIf="currentUser" class="uk-hidden@xl uk-margin-medium-left">
            <a class="uk-icon-button" uk-icon="icon: menu; ratio:1.5" uk-toggle="target: #mobile-side-bar"></a>
        </li>
        <li *ngIf="currentUser" class="uk-visible@xl uk-margin-medium-left">
            <a (click)="isChevronRight = !isChevronRight" class="uk-icon-button" [attr.uk-icon]="isChevronRight ? 'icon: chevron-right; ratio:1.5' : 'icon: chevron-left; ratio:1.5'" uk-toggle="target: #side-bar" style="padding: 5px;"></a>
        </li>
    </div>

    <div *ngIf="currentUser" class="uk-navbar-right uk-margin-large-right">

        <ul class="uk-navbar-nav">

            <li class="uk-flex uk-flex-middle">
                <a href="#">
                    <span class="uk-icon" uk-icon="icon: mail; ratio: 1.1" style="margin-right: 5px;"></span>
                    <span class="uk-badge"></span>
                </a>
            </li>

            <li class="uk-flex uk-flex-middle" style="margin-right: 20px;">
                <a href="#">
                    <span class="uk-icon" uk-icon="icon: bell; ratio: 1.1"></span>
                    <span class="uk-badge"></span>
                </a>
            </li>

            <li class="uk-active uk-flex uk-flex-middle">
                <div class="uk-text-right">
                    <span style="font-size: 19px; font-weight: 500;">{{currentUser.firstName | titlecase}} {{currentUser.lastName | titlecase}}</span>
                    <br>
                    <span class="uk-text-muted" style="font-size: 15px;">{{currentUser.role}}</span>
                </div>

            </li>

            <li class="uk-flex uk-flex-middle uk-margin-left ">
                <img src="{{currentUser.photoURL}}" alt="Img" class="uk-border-circle" width="55" height="55">
            </li>
        </ul>
    </div>
</nav>