.uk-card {
    padding: 15px 25px !important;
}

.attached-user {
    background: whitesmoke;
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.attached-user input {
    border-radius: 5px;
    margin-right: 25px;
}

.fw-500 {
    font-weight: 500;
}