.project-cards .uk-card {
    padding: 20px !important;
}

.fw-600 {
    font-weight: 600;
}

.due-date {
    font-size: 12px !important;
    padding: 0 10px !important;
}

.due-date .material-icons {
    font-size: 20px !important;
}

.uk-divider-vertical {
    width: 10px !important;
    height: 30px !important;
    margin: auto !important;
    border-left: 2px solid rgb(206, 206, 206);
}

.add-button {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 999;
}

.add-button>a {
    background-color: #3C91E6;
}

.uk-progress {
    height: 10px !important;
}

progress::-webkit-progress-value {
    background-color: #51CF66 !important;
}

progress::-moz-progress-bar {
    background-color: #51CF66 !important;
}