<div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
    <div class="uk-width-1-1">
        <app-navbar></app-navbar>
    </div>

    <div id="side-bar" class="uk-width-1-5 uk-visible@xl" style="max-width: 240px !important;">
        <app-sidebar></app-sidebar>
    </div>

    <div id="mobile-side-bar" class="uk-animation-slide-left" uk-offcanvas>
        <div class="uk-offcanvas-bar" style="width: 240px !important;">
            <app-sidebar></app-sidebar>
        </div>
    </div>

    <div class="uk-width-expand" style="min-height: calc(100vh - 70px);">
        <div class="uk-container uk-section">
            <h2>Enter project details</h2>

            <form (ngSubmit)="onAddProject(addProjectform)" #addProjectform="ngForm" class="uk-form-stacked uk-card uk-card-default uk-padding border-radius-20 fw-550">
                <fieldset class="uk-fieldset">
                    <!-- Project name field  -->
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-stacked-text">
                            Project Name
                            <span class="uk-text-danger">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input class="uk-input border-radius-10" [class.uk-form-danger]="projectName.invalid && projectName.touched" type="text" placeholder="project name" name="name" [(ngModel)]="currentProject.name" #projectName="ngModel" required minlength="3">
                        </div>

                        <!-- Validation errors -->
                        <div *ngIf="projectName.errors && projectName.touched">
                            <p [hidden]="!projectName.errors?.required" class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">Project name required.</p>
                            <p [hidden]="!projectName.errors?.minlength" class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">Must be more at least 3 caracters.</p>
                        </div>
                    </div>

                    <!-- Dates field  -->
                    <div class="uk-margin">
                        <div class="uk-form-controls" uk-grid>
                            <!-- Start Date  -->
                            <div class="uk-width-1-2@s">
                                <label class="uk-form-label uk-text-bold" for="form-stacked-text">
                                    Start date
                                    <span class="uk-text-danger">*</span>
                                </label>
                                <input class="uk-input border-radius-10" [class.uk-form-danger]="startDate.invalid && startDate.touched" name="startDate" type="date" [(ngModel)]="currentProject.startDate" #startDate="ngModel" required>

                                <!-- Validation errors -->
                                <div *ngIf="startDate.errors && startDate.touched">
                                    <p [hidden]="!startDate.errors?.required" class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">Start Date required.</p>
                                </div>
                            </div>

                            <!-- End Date  -->
                            <div class="uk-width-1-2@s">
                                <label class="uk-form-label uk-text-bold" for="form-stacked-text">
                                    End date
                                    <span class="uk-text-danger">*</span>
                                </label>
                                <input class="uk-input border-radius-10" [class.uk-form-danger]="endDate.invalid && endDate.touched" name="endDate" type="date" [(ngModel)]="currentProject.endDate" #endDate="ngModel" required>

                                <!-- Validation errors -->
                                <div *ngIf="endDate.errors && endDate.touched" style="margin-bottom: 0 !important;">
                                    <p [hidden]="!endDate.errors?.required" class="uk-text-danger" style="margin: 6px 0 0 0; font-size: .9rem;">End Date required.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Hourly Volume field  -->
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-stacked-text">
                            Hourly Volume
                            <span class="uk-text-danger">*</span>
                        </label>
                        <div class="uk-form-controls">
                            <input class="uk-input border-radius-10" [class.uk-form-danger]="hourlyVolume.invalid && hourlyVolume.touched" type="number" min="0" placeholder="100 hours" name="hourlyVolume" [(ngModel)]="currentProject.hourlyVolume" #hourlyVolume="ngModel" required>
                        </div>

                        <!-- Validation errors -->
                        <div *ngIf="hourlyVolume.errors?.required && hourlyVolume.touched">
                            <p class="uk-text-danger" style="margin-top: 6px;font-size: .9rem;">Hourly volume required.</p>
                        </div>
                    </div>

                    <!-- Description  -->
                    <div class="uk-margin">
                        <label class="uk-form-label uk-text-bold" for="form-stacked-text">Project Description</label>
                        <div class="uk-form-controls">
                            <textarea class="uk-textarea border-radius-10" rows="4" placeholder="Project description..." name="description" [(ngModel)]="currentProject.description"></textarea>
                        </div>
                    </div>

                    <!-- Submit  -->
                    <div *ngIf="addProcessLoading" class="uk-margin">
                        <button class="uk-button uk-button-primary uk-width-1-1 uk-text-bold uk-border-pill" type="submit" uk-spinner="ratio: 0.9"></button>
                    </div>
                    <div *ngIf="!addProcessLoading" class="uk-margin">
                        <button class="uk-button uk-button-primary uk-width-1-1 uk-text-bold uk-border-pill" type="submit">Add Project</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>