#left-col {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #0D1B1E;
    z-index: 1;
    width: 240px;
}

.uk-active>a {
    background-color: rgba(245, 245, 245, 0.1);
    border-left: solid 5px #F25F5C;
    border-radius: 5px;
}

.active {
    background-color: rgba(245, 245, 245, 0.07);
    border-radius: 5px;
    color: #fff !important;
}

.uk-nav li a {
    padding: 10px 10px;
}

.uk-nav li.logo {
    height: 70px;
}