#left-col {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #0D1B1E;
    z-index: 1;
    width: 240px;
}

.uk-active>a {
    background-color: rgba(245, 245, 245, 0.1);
    /* border-left: solid 5px #F25F5C; */
    border-radius: 5px;
    border-left: 5px solid transparent;
    border-image: linear-gradient(180deg, #3C91E6 0%, #FFD4D3 100%);
    border-image-slice: 1;
}

.uk-nav li a {
    padding: 10px 10px;
}

.fs-1 {
    font-size: 1.1rem;
}