<!-- sidebar on large scree  -->
<aside id="left-col" class="uk-light">
    <div class="bar-wrap">
        <ul class="uk-nav uk-nav-primary uk-nav-center">

            <!-- Logo -->
            <li>
                <a routerLink="/projects">
                    <img src="assets/img/logo.svg" alt="logo">
                </a>
            </li>

            <!-- Projects -->
            <li class="uk-text-left uk-margin-top" routerLinkActive="uk-active">
                <a class="fs-1 uk-margin-small-left uk-margin-small-right" routerLink="/projects">
                    <span class="uk-margin-small-right material-icons-outlined uk-text-middle">work_outline</span> Projects
                </a>
            </li>

            <!-- Scheduler -->
            <li class="uk-text-left uk-margin-top" routerLinkActive="uk-active">
                <a class="fs-1 uk-margin-small-left uk-margin-small-right" routerLink="/scheduler">
                    <span class="uk-margin-small-right material-icons-outlined uk-text-middle">date_range</span> Scheduler
                </a>
            </li>

            <!-- Managers -->
            <li *ngIf="currentUser?.role === 'ROLE_ADMIN'" class="uk-text-left uk-margin-top" routerLinkActive="uk-active">
                <a class="fs-1 uk-margin-small-left uk-margin-small-right" routerLink="/managers">
                    <span class="uk-margin-small-right material-icons-outlined uk-text-middle">engineering</span> Managers
                </a>
            </li>

            <!-- Collaboraters -->
            <li class="uk-text-left uk-margin-top" routerLinkActive="uk-active">
                <a class="fs-1 uk-margin-small-left uk-margin-small-right" routerLink="/collaboraters">
                    <span class="uk-margin-small-right material-icons uk-text-middle">people_outline</span> Collaboraters
                </a>
            </li>

            <!-- Competences -->
            <li *ngIf="currentUser?.role === 'ROLE_ADMIN' || currentUser?.role === 'ROLE_MANAGER'" class="uk-text-left uk-margin-top" routerLinkActive="uk-active">
                <a class="fs-1 uk-margin-small-left uk-margin-small-right" routerLink="/competences">
                    <span class="uk-margin-small-right material-icons uk-text-middle">code</span> Competences
                </a>
            </li>


            <!-- Profile -->
            <li class="uk-text-left uk-margin-top" routerLinkActive="uk-active">
                <a class="fs-1 uk-margin-small-left uk-margin-small-right" routerLink="/profile">
                    <span class="uk-margin-small-right material-icons-outlined uk-text-middle">account_circle</span> Profile
                </a>
            </li>

            <!-- History -->
            <li *ngIf="currentUser?.role === 'ROLE_ADMIN'" class="uk-text-left uk-margin-top" routerLinkActive="uk-active">
                <a class="fs-1 uk-margin-small-left uk-margin-small-right" routerLink="/history">
                    <span class="uk-margin-small-right material-icons-outlined uk-text-middle">restore</span> Users History
                </a>
            </li>

            <!-- Logout -->
            <li class="uk-text-left uk-margin-top">
                <a class="fs-1 uk-margin-small-left" (click)="logout()">
                    <span class="uk-margin-small-right material-icons-outlined uk-text-middle">exit_to_app</span> Logout
                </a>
            </li>

        </ul>
    </div>
</aside>