/** Global ***********************/

body {
    background-color: whitesmoke;
    height: fit-content;
}

a {
    text-decoration: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: whitesmoke !important;
}

.uk-form-danger {
    color: initial !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


/** material-icons *********************/

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v18/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-osx-font-smoothing: grayscale;
}


/** Media Query  ****************************/

@media (min-width: 960px) {
    .uk-container {
        padding-left: 70px !important;
        padding-right: 70px !important;
    }
}

@media (max-width: 960px) {
    .uk-container {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
}


/** SweetAlert2  ****************************/

.swal2-icon {
    margin: 10px 0 0 0 !important;
}

.swal2-popup {
    padding: 15px !important;
    font-size: 15px !important;
}

.swal2-title {
    margin: 1rem 0 !important;
    font-size: 1.6rem !important;
}

.swal2-actions {
    margin-top: 0 !important;
}

#swal2-content {
    margin-bottom: 16px !important;
}


/** Border Radius *******************************/

.border-radius-20 {
    border-radius: 20px !important;
}

.border-radius-10 {
    border-radius: 10px !important;
}


/** font Weight ************************/

.fw-550 {
    font-weight: 550 !important;
}


/** Text Color *******************/

.text-danger {
    color: #F25F5C !important;
}

.text-secondary {
    color: #0D1B1E !important;
}

.text-primary {
    color: #3C91E6 !important;
}

.text-warning {
    color: #FFF05A !important;
}

.text-white {
    color: white !important;
}

.text-success {
    color: #51CF66 !important;
}


/** Button Color **************************/

.uk-button-primary {
    background-color: #3C91E6 !important;
}

.uk-button-warning {
    background-color: #FFF05A !important;
    color: #0D1B1E !important;
}

.uk-button-success {
    background-color: #51CF66 !important;
    color: white !important;
}

.uk-button-danger {
    background-color: #F25F5C !important;
}

.uk-button:disabled {
    background-color: rgb(226, 226, 226) !important;
    color: white !important;
}

.uk-button-secondary {
    background-color: #0D1B1E !important;
}


/* The switch - the box around the slider ***********************/

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #3C91E6;
}

input:focus+.slider {
    box-shadow: 0 0 1px #3C91E6;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}